@media screen and (min-width: 640px ) {
  .logo__link {
    margin-left: 14px;
  }
  .container {
    padding: 0 30px;
  }
  .header__inner {
    min-height: 100px;
  }

  .head {
    min-height: 386px;
  }

  .top-slider {
    &__item {
      min-height: 386px;
    }

    &__title {
      font-size: 60px;
      line-height: 60px;
      max-width: 522px;
      padding: 50px 0 15px;
      margin: 0 auto 30px;

    }

    &__btn {
      display: block;
      margin: 0 auto;
      width: 200px;
      height: 50px;
      background-color: #2B4074;
      color: #F9F6E5;
      font-size: 18px;
      line-height: 18px;
      text-transform: uppercase;
      border-radius: 3px;
      border: none;
    }

    .slick-arrow {
      position: absolute;
      right: 0;
      z-index: 5;
      width: 56px;
      height: 56px;
      border: none;

    }

    .slick-prev {
      background-color: #2B4074;
      top: calc(50% - 56px);

      img {
        margin: 0 auto;
      }

    }

    .slick-next {
      bottom: calc(50% - 56px);

      img {
        margin: 0 auto;
      }
    }

  }

  .slick-next {
    background-color: #F9F6E5;
    bottom: calc(50% - 56px);

  }

  .slick-dots {
    bottom: 50px;
  }


  .call {
    padding: 50px 0 40px;

    &__title {
      padding: 0 0 20px;
    }
  }

  .service {
    &__title {
      font-size: 48px;
      line-height: 56px;
      margin: 25px 0 12px;

      &::after {
        bottom: -101px;
      }
    }

    &__subtitle {
      font-size: 24px;
      line-height: 24px;
      margin: 0 0 68px;
    }

    &__text {
      font-size: 18px;
      line-height: 24px;
      margin: 30px 0 40px;
      width: 559px;
    }
  }

  .service__inner {
    display: flex;
    flex-wrap: wrap;
  }
  .service__inner-item {
    flex: 0 0 50%;
  }
  .design {
    margin: 20px 0 10px;
  }
  .design-text {
    margin: 15px 0;
  }
  .projects {

    &__container {
      padding: 0 40px 40px;
    }

    &__text {
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
    }

    &__img {
      width: 100%;

      img {
        //margin: 0 auto;
        width: 100%;
      }
    }

    &__title {
      font-size: 48px;
      line-height: 56px;
      padding: 40px 0 70px;

      &::after {
        width: 100px;
      }
    }
  }

  .team {

    &__title {
      font-size: 36px;
      line-height: 38px;
      padding: 40px 0 68px;
      &::after{
        width: 88px;
      }
    }
    &__text {
      width: 520px;
    }
    &__link{
        padding: 50px 0;
      }
  }

  .news{
    &__inner{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      height: 1560px;
    }
    &__item{
      flex: 0 0 42%;
    }
    &__item4{
      transform: translateY(-63%);
    }
    &__item6{
      transform: translateY(-111%);
    }
    &__item8{
      transform: translateY(-83%);
    }
    &__text{
      margin-left: 30px;
    }
}
}



@media screen and (min-width: 768px ) {
  .logo__link {
    margin-left: 0;
  }
  .container {
    padding: 0 40px;
  }
  .top-slider {
    &__item {
      min-height: 465px;
    }

    &__text {
      display: block;
      width: 587px;
      margin: 0 auto 32px;
      font-size: 16px;
      line-height: 20px;
    }

    &__title {
      padding: 87px 0 0;

      &::after {
        display: none;
      }
    }
  }
  .head {
    min-height: 465px;
  }
  .call {
    text-align: left;

    &__inner {
      display: flex;
      justify-content: space-between;
    }

    &__wrapper {
      max-width: 427px;
    }

    &__btn {
      margin: 0;
    }

    &__text {
      max-width: 320px;
    }
  }
  .service {
    &__title{


      &::after{
        bottom: -73px; left: 6px;
        margin: 0;
      }
    }
    &__subtitle{
      text-align: left;
      margin-left: 6px;
    }
    &__text{
      text-align: left;
      width: 93%;
      margin: 30px 35px 40px 6px;
      font-size: 17px;
    }
  }
  .design-wrapper {
    width: 254px;
  }
  .projects {
    &__container {
      padding: 0 50px;
    }
    &__inner{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__title{
      padding: 80px 0 112px;
          &:after{
            bottom: 82px;
          }
        }
    &__text{
      padding: 80px 0;
    }

    &__item{
      flex: 0 0 40%;
    }
    &__item1,
    &__item3{
      margin-right: 30px;
    }
  }
  .team{
    &__inner{
      display: flex;
      justify-content: space-around;
    }
    &__img{
      flex: 0 0 35%;
    }
    &__text-wrapper{
      text-align: left;
      flex: 0 0 50%;
    }
    &__title{
      padding: 0 0 35px;
      &::after{
        right: unset;
        bottom: 11px;
        margin: 0;
      }
    }
    &__text{
      width: unset;
    }
    &__link{
      padding: 30px 0 45px;
    }
  }
  .news{
    height: calc(2000px + 10px);

    &__title{
      padding: 40px 0 80px;
      &::after{
        margin: 0 auto;
        right: 0; left: 0;
        bottom: 40px;
      }
    }


    &__item4{
      transform: translateY(-70%);
    }
    &__item6{
      transform: translateY(-120%);
    }
    &__item8{
      transform: translateY(-84%);
    }
  }

}
@media screen and (min-width: 992px ){
  .news{
    height: 2445px ;
  }
}
@media screen and (min-width: 1024px ) {

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 80px;
    position: relative;
  }

  .top-slider {
    &__item {
      min-height: 618px;
    }

    &__title {
      padding: 100px 0 0;
      line-height: 84px;
      font-size: 84px;
      letter-spacing: 2px;
      max-width: 750px;
    }

    .slick-dots {
      bottom: 80px;
    }
  }
  .head {
    min-height: 618px;
  }
  .call {
    &__btn {
      padding: 16px;
      width: auto;
    }
  }

  .service__inner-item {
    flex: 0 0 25%;
  }
  .add {
    width: 174px;
  }
  .design-wrapper {
    width: unset;
  }

  .projects {
    &__title {
      &:after {
        bottom: 80px;
      }
    }

    &__img img {
      width: 100%;
    }
  }
  .team {
    .container {
      max-width: unset;
      margin: 0;
      padding: 0;
    }

    &__img {
      img {
        width: 401px;
        height: 380px;
      }
    }

    &__title {
      font-size: 48px;
      line-height: 56px;
    }

    &__text {
      font-size: 18px;
      line-height: 24px;
    }

    &__link {
      position: absolute;
      right: 312px;
      bottom: -44px;
    }
  }
  .news {
    margin-top: 80px;
    padding-bottom: 0;
    height: 1650px;

    .container {
      padding: 0 55px;
    }

    &__item {
      flex: 0 0 30%;
      width: 80%;
    }

    &__title {
      padding: 60px 0 100px;

      &::after {
        bottom: 67px;
      }
    }
    &__item{
      height: fit-content;
    }

    &__item4 {
      transform: translateY(0);
    }
    &__item5{
      transform: translateY(-68%);
      background-color: unset;
    }
    &__item6 {
      transform: translateY(-48%);
    }
    &__item7{
      transform: translate(195%, -120%);
    }
    &__item8{
      transform: translate(-83%, -54%);
    }
  }
}

@media screen and (min-width: 1440px ) {
  .container {
    max-width: 1320px;
      }

  .top-slider {
    &__item {
      min-height: 668px;
    }

    &__title {
      padding: 107px 0 0;
      line-height: 96px;
      font-size: 96px;
      letter-spacing: 2px;
      max-width: 866px;
    }

    &__text {
      width: 886px;
      font-size: 22px;
      line-height: 26px;
    }

    .slick-dots {
      bottom: 80px;

      .slick-active {
        button {
          border: 1px solid #fff;
        }
      }

      button {
        background-color: #fff;
      }
    }

    .slick-arrow {
      width: 70px;
      height: 70px;
    }

    .slick-prev {
      top: calc(50% - 70px);
    }

    .slick-next {
      bottom: calc(50% - 70px);
    }
  }
  .head {
    min-height: 668px;
  }

  .call {
    &__wrapper {
      max-width: 796px;
    }

    &__text {
      max-width: 567px;
    }

    .container {
      padding: 0;
    }
  }
  .service {
    display: flex;

    &__inner {
      flex: 0 0 65%;
    }

    &__title {
      margin: 90px 0 64px;
      text-align: left;

      &::after {
        bottom: -151px;
        left: 0;
      }
    }

    &__subtitle, &__text {
      margin-left: 0;
    }
  }

  .design-wrapper {
    padding: 10px;
  }
  .projects {
    .container{
      padding: 0;
    }
    &__inner{
      width: 1320px;
      margin: 0 auto;
    }
    &__item1,
    &__item3 {
      margin-right: 0;
    }

    &__item {
      flex: 0 0 22%;
      margin-left: 30px;
    }

    &__title {
      &:after {
        bottom: 86px;
      }
    }

  }
  .team {
    .container {
      margin: 0 auto;
      //padding: 0 109px;
      position: relative;
    }
    &__inner{
      width: 1320px;
      margin: 0 auto;
    }

    &__link {
      right: unset;
      left: 48%;
    }

    &__img {
      img {
        width: 100%;
        height: auto;
      }
    }

    &__title {
      padding: 0 0 70px;

      &::after {
        bottom: 35px;
      }
    }
  }
  .news {
    height: 1250px;
    .container{
      //padding: 0 100px;
    }

    &__title{
      padding: 50px 0 140px;
      &::after{
        bottom: 110px;
      }
    }
    &__item {
      flex: 0 0 22%;
    }
    &__inner{
      width: 100%;
    }

    &__item5 {
      transform: translate(114%, -127%);
    }
    &__item6 {
      transform: translate(-113%, -108%);
    }
    &__item7 {
      transform: translate(114%, -156%);
    }
    &__item8 {
      transform: translate(-113%, -71%);
    }
  }
}