@import "var.scss";
@import "fonts.scss";
@import "libs.scss";

html{
  box-sizing: border-box;
}

*,*::after,*::before{
  box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  display: block;
}

button{
  padding: 0;
  cursor: pointer;
}

body{
  min-width: 320px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Roboto-Regular", "Arial", sans-serif;
  line-height: 18px;
}

.container{
  padding: 0 20px;
}

.header{
  background-color: $accent;

  &__inner{
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo__link{
  margin-left: 8px;
}

.menu__btn{
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 3px;
  border: none;
  position: relative;

      &::after{
        content: "";
        width: 12px;
        height: 2px;
        border-radius: 1px;
        background-color: $accent;
        position: absolute;
        top: 15px; left: 14px;
        box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent;
      }
}


// section "head"

.head{
  background-image: url("../img/head-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 193px;
}

.top-slider{
  &__text{
    display: none;
  }

  &__item{
    color: #FFFFFF;
    text-align: center;
    min-height: 193px;
  }

  &__title{
    font-family: "RobotoCondensed-Regular", sans-serif;
    line-height: 28px;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 36px 0 28px;
    max-width: 243px;
    margin: 0 auto;
    position: relative;

      &::after{
        content: '';
        width: 60px;
        height: 8px;
        background-color: $text-color;
        position: absolute;
        bottom: 0; right: 0; left: 0;
        margin: 0 auto;

      }
  }

  &__btn{
    display: none;
  }

  .slick-dots{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 0; right: 0;

      .slick-active{
        button{
          background-color: transparent;
          border: 1px solid #476E4D;
        }

      }

      button{
        font-size: 0;
        border: none;
        background-color: $accent;
        padding: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0 10px;

      }
  }
}

// section call

.call {
  padding: 40px 0;
  background-color: $accent;
  font-style: normal;
  text-align: center;

  &__title {
    @extend %roboto-500;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    padding: 0 0 10px;
  }

  &__text {
    @extend %dosis-300;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
  }

  &__btn{
    @extend %roboto-500;
    display: block;
    margin: 40px auto 0;
    width: 200px;
    height: 50px;
    font-size: 18px;
    line-height: 18px;
    color: #2B4074;
    text-transform: uppercase;
    background-color: #F9F6E5;
    border: none;
    border-radius: 3px;
  }
}

// section service

.service{
    @extend %robotoCondenced-400;
    font-style: normal;
    text-align: center;

  &__title{
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: $accent;
    position: relative;
    margin: 25px 0 50px;

    &::after{
      content: "";
      width: 100px;
      height: 8px;
      background-color: $accent;
      position: absolute;
      bottom: -20px; right: 0; left: 0;
      margin: 0 auto;
    }
  }

  &__subtitle{
    @extend %roboto-400;
    font-size: 20px;
    line-height: 24px;
    color: #4a4a4a;
  }

  &__text{
    @extend %roboto-400;
    font-size: 15px;
    line-height: 17px;
    color: #797979;
    margin: 20px 0 40px;
  }
}

.service__inner-item{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  border: 1px solid #F9F6E5;
}
.service__img{
  margin-bottom: 45px;
}
.service__img-text{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #4A4A4A;
}
.add{
  width: 238px;
  word-wrap: break-word;
}
.design{
  margin: 20px;
  img{
    margin: 0 auto;
  }
}
.design-text{
  @extend %dosis-500;
  margin: 21px 0 16px;
  font-size: 16px;
  line-height: 18px;
  color: #9B9B9B;
}
.design-wrapper{
  border: 4px solid #2B4074;
  box-sizing: border-box;
}
.service__img-link{
  margin: 16px 0 28px;
  cursor: pointer;

  a{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: $accent;

    span{
      position: relative;
      top: -3px;
      font-size: 20px;
    }
  }
}

// section projects

.projects{
    text-align: center;
    color: $accent;
    @extend %robotoCondenced-400;
    background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);

  &__container{
    padding-bottom: 40px;
  }


    &__title {
      padding: 20px 0 70px;
      color: #fff;
      font-size: 24px;
      line-height: 28px;
      position: relative;

      &::after {
        content: "";
        width: 50px;
        height: 8px;
        background-color: #fff;
        position: absolute;
        bottom: 45px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  &__text{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    padding: 20px 0;
  }

  &__img{
    position: relative;
    width: 80%;
    margin: 0 auto;
  img{
    margin: 0 auto;
  }

  }

  &__active{
    display: none;
    position: absolute;
    top: 0; left: 0; right: 0;
    margin: 0 auto;
  }
}

    .active-visible{
      display: block;
      opacity: 100%;
    }

// section team

  .team {
    text-align: center;
    padding-top: 30px;

    &__img {

      img {
        width: 100%;
      }
    }

    &__title {
      @extend %robotoCondenced-400;
      font-size: 24px;
      line-height: 38px;
      color: #4A4A4A;
      position: relative;
      padding: 40px 0 50px;

      &::after {
        content: "";
        width: 45px;
        height: 8px;
        color: $accent;
        position: absolute;
        bottom: 23px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: $accent;

      }
    }

    &__text {
      @extend %roboto-400;
      font-size: 16px;
      line-height: 20px;
      color: #9B9B9B;

      p {
        margin: 0;
      }
    }

    &__link{
      display: block;
      padding: 85px 0 61px;

      button{
        border: none;
        width: 230px;
        height: 60px;
        border-radius: 3px;
        background-color: $accent;
        color: #F9F6E5;
        @extend %roboto-500;
        font-size: 20px;
        line-height: 18px;
      }
    }
  }

//  section news

.news{
  background: #F9F6E5;
  @extend %robotoCondenced-400;
  padding: 0 0 20px;

  &__title{
    text-align: center;
    padding-bottom: 70px;
    &::after{
      bottom: 43px;
    }
  }
  &__item6,
  &__item7,
  &__item2{
    height: fit-content;
  }
  &__item{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    img{
      width: 100%;
      margin: 0 auto;
    }
  }
  &__text{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2px;
    color: #4A4A4A;
    margin-left: 40px;
  }
}

//section quote

.quote {
  @extend %robotoCondenced-400;
  text-align: center;

  &__title {
    font-size: 100px;
    padding: 73px 0 56px;
    color: $accent;
  }

  &__text {
    font-size: 24px;
    line-height: 26px;
    color: #4A4A4A;
    padding: 0 25px 20px;
    p{
      margin: 0;
    }

    span {
      font-weight: bold;
      color: $accent;
    }
  }

  &__author {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
    color: #4A4A4A;
    padding-bottom: 150px;
  }

  .quote-slider .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;

    .slick-active {
      button {
        background-color: transparent;
        border: 1px solid #476E4D;
      }

    }

    button {
      font-size: 0;
      border: none;
      background-color: $accent;
      padding: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 0 10px;

    }
  }
}

// section footer

.footer {
  background-color: $accent;
  color: #FFFFFF;
  text-align: center;
  @extend %roboto-400;
  position: relative;

  a, i {
    display: block;
  }
  &__contacts-title,
  &__address-title,
  &__help-title,
  &__menu-title{
    @extend %robotoCondenced-400;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2px;
    color: #F9F6E5;
    padding: 30px 0 20px;
  }

  &__logo {
    width: 230px;
    margin: 0 auto;
    position: absolute;
    top: -5%;
    right: 0;
    left: 0;
    background-color: $accent;

    img {
      margin: 0 auto;
    }
  }

  &__text {
    padding: 85px 0 40px;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 2px;
    width: 274px;
    margin: 0 auto;
  }

  &__social {
    i {
      color: #FFFFFF;
      font-size: 24px;
      line-height: 14px;
      margin-bottom: 20px;
    }
  }
  &__contacts {
    p{
      margin: 0;
    }
  }
  &__phone,
  &__address,
  &__help,
  &__menu{
    a{
      color: #FFFFFF;
      font-size: 16px;
      line-height: 20px;
      cursor: pointer;
    }
    p{
      margin: 0;
    }
  }

  &__menu{
    padding-bottom: 60px;
  }


}

























@import "media.scss";