$accent:#2B4074;
$text-color: #4A4A4A;

%dosis-300{
  font-family: 'Dosis-Light', 'Arial', sans-serif;
  font-weight: 300;

}

%roboto-500{
  font-family: 'Roboto-Medium', 'Arial', sans-serif;
  font-weight: 500;
}